<!-- Factions Tab Content -->
<div class="tab-content">
    <div class="faction-availability-list allow-select">
        @if (factionAvailability().length === 0) {
            <div class="no-factions">No faction availability information for this unit.</div>
        } @else {
            @for (era of factionAvailability(); let i = $index; let isLastEra = $last; track i) {
                <div class="era-name">
                    @if (era.eraImg) {
                        <img [src]="era.eraImg" class="era-icon" alt="{{era.eraName}}" title="{{era.eraName}}" />
                    }
                    <div class="era-name-content">
                        <strong>{{ era.eraName }}</strong>
                        <div class="era-years">
                            @if (era.eraYearTo) {
                                ({{ era.eraYearFrom ?? '?' }}–{{ era.eraYearTo }})
                            } @else {
                                ({{ era.eraYearFrom ?? '?' }}+)
                            }
                        </div>
                    </div>
                </div>
                <div class="faction-list">
                    @for (faction of era.factions; let isLast = $last; track faction.name) {
                        @if (faction.isCatchAll) {
                            <span class="faction-item catch-all-faction">
                                @if (faction.img) {
                                    <img [src]="faction.img" class="faction-icon" alt="{{faction.name}}" title="{{faction.name}}" />
                                }
                                <span class="parent-faction" (click)="toggleCatchAll(i, faction.name)">{{ faction.name }}</span>
                                @if (isCatchAllExpanded(i, faction.name) && faction.collapsedFactions?.length) {
                                    <span class="collapsed-factions"> (@for (cf of faction.collapsedFactions; let cfLast = $last; track cf.name) {<span class="collapsed-faction-item">@if (cf.img) {<img [src]="cf.img" class="faction-icon" alt="{{cf.name}}" title="{{cf.name}}" />} {{ cf.name }}{{ !cfLast ? ',&nbsp; ' : '' }}</span>})</span>
                                }{{ !isLast ? ',' : '' }}
                            </span>
                        } @else {
                            <span class="faction-item">
                                @if (faction.img) {
                                    <img [src]="faction.img" class="faction-icon" alt="{{faction.name}}" title="{{faction.name}}" />
                                }
                                {{ faction.name }}{{ !isLast ? ',&nbsp;' : '' }}
                            </span>
                        }
                    }
                </div>
                @if (!isLastEra) {
                    <hr class="divider" />
                }
            }
        }
    </div>
</div>
