<div class="content">
    <h2 dialog-title>{{ data.title }}</h2>
    <div dialog-content>
        <p>{{ data.message }}</p>
        <div class="range-inputs-wrapper">
            <input numericInput [allowFloatingValues]="data.allowFloatingValues ?? false" [formField]="rangeForm.from" type="text" [placeholder]="toDisplay(data.range.from)"
                (keydown.enter)="submit()" (blur)="onFromBlur()" />
            <span class="range-separator">~</span>
            <input numericInput [allowFloatingValues]="data.allowFloatingValues ?? false" [formField]="rangeForm.to" type="text" [placeholder]="toDisplay(data.range.to)"
                (keydown.enter)="submit()" (blur)="onToBlur()" />
        </div>
    </div>
    <div dialog-actions>
        <button (click)="submit()" class="bt-button">CONFIRM</button>
        <button (click)="submitEmpty()" class="bt-button">UNSET</button>
        <button (click)="close()" class="bt-button">DISMISS</button>
    </div>
</div>