@let componentTechBase = comp()?.eq?.techBase ?? 'All';
@let compEntry = comp();
@if (displayStyle() === 'text') {
    <span #component
        class="component {{ displayStyle() }}-data"
        (pointerenter)="onPointerEnter($event)" 
        (click)="onCompClick($event)" 
        (pointerleave)="onPointerLeave($event)">{{ compEntry?.q }}×{{ compEntry?.n }} @if (compEntry?.q2) {<span class="ammo-count"> ({{ compEntry?.q2 }})</span>}</span>
} @else {
<div #component
    class="component {{ displayStyle() }}-data {{ typeClass() }}"
    (pointerenter)="onPointerEnter($event)"
    (click)="onCompClick($event)"
    (pointerleave)="onPointerLeave($event)">
        <div class="comp-title">
            <span class="comp-qty">{{ compEntry?.q }}×</span>
            <span class="comp-name">{{ compEntry?.n }} 
                @if (compEntry?.rear) {<span class="rear-indicator" title="Rear Mounted">(R)</span>} 
                @if (compEntry?.q2) {<span class="ammo-count"> ({{ compEntry?.q2 }})</span>}</span>
            
            @if (displayStyle() === 'normal') {
                @if (unit().techBase == 'Mixed' && componentTechBase != 'All') {
                    <div class="tech-base tech-{{ componentTechBase | lowercase }}">
                        {{ componentTechBase == 'Clan' ? 'C' : 'IS' }}
                    </div>
                }
            }
        </div>
        @if ( damaged() ) {
            <div class="damage-stripe upper"></div>
            <div class="damage-stripe lower"></div>
        }
    </div>
}