<div #picker class="linear-picker" [class.light-theme]="lightTheme()" [class.touch]="this.layoutService.isTouchInput()" [class.horizontal]="horizontal()"
    [class.vertical]="!horizontal()" [class.label-right]="labelOnRight()">
    @for (choice of values(); let i = $index; track choice.value) {
    @switch(choice.displayType) {
    @case ('dropdown') {
    <div class="value-cell dropdown-cell" [class.selected]="isSelected(choice)"
        [class.highlight]="isHovered(choice) && !choice.disabled" [class.disabled]="choice.disabled"
        [class.active]="choice.active">
        <label [for]="'dropdown-' + i">{{ choice.label }}</label>
        <select [id]="'dropdown-' + i" [title]="choice.label" (change)="handleDropdownChange($event, choice)">
            @for (option of choice.choices; track option.value) {
            <option [value]="option.value" [selected]="option.value === choice.value">{{ option.label }}</option>
            }
        </select>
    </div>
    }
    @case ('label') {
    <div class="value-cell label-cell">{{ choice.label }}</div>
    }
    @case ('state-button') {
    <div class="value-cell state-button-cell" [class.selected]="isSelected(choice)"
        [class.highlight]="isHovered(choice) && !choice.disabled" [class.disabled]="choice.disabled"
        [class.active]="choice.active" [attr.data-title]="isSelected(choice) ? title() : null"
        (pointerenter)="setHoveredChoice(choice)" (pointerleave)="resetHovered()"
        (pointerdown)="setHoveredChoice(choice)" (click)="handleChoiceClick($event, choice)">
        {{ choice.label }}: {{ choice.shortLabel }}
    </div>
    }
    @default {
    <div class="value-cell button-cell" [class.selected]="isSelected(choice)"
        [class.highlight]="isHovered(choice) && !choice.disabled" [class.disabled]="choice.disabled"
        [class.active]="choice.active" [attr.data-title]="isSelected(choice) ? title() : null"
        (pointerenter)="setHoveredChoice(choice)" (pointerleave)="resetHovered()"
        (pointerdown)="setHoveredChoice(choice)" (click)="handleChoiceClick($event, choice)">
        {{ choice.shortLabel ?? choice.label }}
    </div>
    }
    }
    }
</div>